<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="b1b2395db4394a8991dc5cb58894cc49" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b1b2395db4394a8991dc5cb58894cc49 = echarts.init(
            document.getElementById('b1b2395db4394a8991dc5cb58894cc49'), 'white', {renderer: 'canvas'});
        var option_b1b2395db4394a8991dc5cb58894cc49 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u6cc9\u5dde",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(96,150,108)"
                    }
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": 19,
                    "textStyle": {
                        "color": "rgb(0,30,114)"
                    }
                },
                {
                    "name": "\u90af\u90f8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,76,142)"
                    }
                },
                {
                    "name": "\u547c\u548c\u6d69\u7279",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(151,96,56)"
                    }
                },
                {
                    "name": "\u6df1\u5733",
                    "value": 397,
                    "textStyle": {
                        "color": "rgb(107,76,138)"
                    }
                },
                {
                    "name": "\u957f\u6c99",
                    "value": 86,
                    "textStyle": {
                        "color": "rgb(40,68,128)"
                    }
                },
                {
                    "name": "\u5f20\u5bb6\u6e2f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(115,26,117)"
                    }
                },
                {
                    "name": "\u897f\u5b89",
                    "value": 75,
                    "textStyle": {
                        "color": "rgb(114,28,6)"
                    }
                },
                {
                    "name": "\u5e38\u5dde",
                    "value": 20,
                    "textStyle": {
                        "color": "rgb(96,115,156)"
                    }
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(86,125,18)"
                    }
                },
                {
                    "name": "\u4e0a\u9976",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(16,43,118)"
                    }
                },
                {
                    "name": "\u676d\u5dde",
                    "value": 225,
                    "textStyle": {
                        "color": "rgb(64,130,92)"
                    }
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": 29,
                    "textStyle": {
                        "color": "rgb(146,94,123)"
                    }
                },
                {
                    "name": "\u626c\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(18,92,144)"
                    }
                },
                {
                    "name": "\u8944\u9633",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(114,100,86)"
                    }
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 711,
                    "textStyle": {
                        "color": "rgb(98,142,105)"
                    }
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": 39,
                    "textStyle": {
                        "color": "rgb(151,134,112)"
                    }
                },
                {
                    "name": "\u592a\u539f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,8,44)"
                    }
                },
                {
                    "name": "\u6c55\u5934",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(147,150,24)"
                    }
                },
                {
                    "name": "\u5eca\u574a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(84,145,136)"
                    }
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 230,
                    "textStyle": {
                        "color": "rgb(62,124,107)"
                    }
                },
                {
                    "name": "\u6c88\u9633",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(60,119,98)"
                    }
                },
                {
                    "name": "\u5927\u8fde",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(2,77,136)"
                    }
                },
                {
                    "name": "\u957f\u6625",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(28,51,119)"
                    }
                },
                {
                    "name": "\u660c\u5409",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(150,143,156)"
                    }
                },
                {
                    "name": "\u5fb7\u9633",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(65,143,24)"
                    }
                },
                {
                    "name": "\u4e39\u9633",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(54,94,11)"
                    }
                },
                {
                    "name": "\u5b89\u5e86",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(51,92,106)"
                    }
                },
                {
                    "name": "\u5f00\u5c01",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(38,64,113)"
                    }
                },
                {
                    "name": "\u5e38\u719f",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(7,49,98)"
                    }
                },
                {
                    "name": "\u6606\u660e",
                    "value": 42,
                    "textStyle": {
                        "color": "rgb(155,54,2)"
                    }
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(54,100,55)"
                    }
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(33,140,21)"
                    }
                },
                {
                    "name": "\u7ef5\u9633",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(44,0,110)"
                    }
                },
                {
                    "name": "\u5357\u901a",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(41,22,102)"
                    }
                },
                {
                    "name": "\u65e0\u9521",
                    "value": 49,
                    "textStyle": {
                        "color": "rgb(49,50,40)"
                    }
                },
                {
                    "name": "\u5357\u5b81",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(157,134,107)"
                    }
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 76,
                    "textStyle": {
                        "color": "rgb(34,18,148)"
                    }
                },
                {
                    "name": "\u5f90\u5dde",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(26,141,83)"
                    }
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(54,85,108)"
                    }
                },
                {
                    "name": "\u76d0\u57ce",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(117,109,114)"
                    }
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": 38,
                    "textStyle": {
                        "color": "rgb(44,0,140)"
                    }
                },
                {
                    "name": "\u94f6\u5ddd",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(140,124,107)"
                    }
                },
                {
                    "name": "\u4e5d\u6c5f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,42,7)"
                    }
                },
                {
                    "name": "\u6842\u6797",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(57,49,25)"
                    }
                },
                {
                    "name": "\u5408\u80a5",
                    "value": 68,
                    "textStyle": {
                        "color": "rgb(119,3,140)"
                    }
                },
                {
                    "name": "\u5510\u5c71",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(23,32,60)"
                    }
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": 44,
                    "textStyle": {
                        "color": "rgb(66,8,35)"
                    }
                },
                {
                    "name": "\u71d5\u90ca\u5f00\u53d1\u533a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(123,66,11)"
                    }
                },
                {
                    "name": "\u5357\u4eac",
                    "value": 184,
                    "textStyle": {
                        "color": "rgb(76,82,5)"
                    }
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": 38,
                    "textStyle": {
                        "color": "rgb(143,29,55)"
                    }
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 11,
                    "textStyle": {
                        "color": "rgb(74,109,158)"
                    }
                },
                {
                    "name": "\u6ec1\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,55,40)"
                    }
                },
                {
                    "name": "\u91d1\u534e",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(93,69,8)"
                    }
                },
                {
                    "name": "\u798f\u5dde",
                    "value": 19,
                    "textStyle": {
                        "color": "rgb(90,46,25)"
                    }
                },
                {
                    "name": "\u4e34\u6c82",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(86,81,17)"
                    }
                },
                {
                    "name": "\u8386\u7530",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(42,154,131)"
                    }
                },
                {
                    "name": "\u682a\u6d32",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(86,100,17)"
                    }
                },
                {
                    "name": "\u6d77\u53e3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(43,95,107)"
                    }
                },
                {
                    "name": "\u5609\u5174",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(74,35,53)"
                    }
                },
                {
                    "name": "\u829c\u6e56",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(144,98,38)"
                    }
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(63,5,147)"
                    }
                },
                {
                    "name": "\u6dee\u5b89",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(132,105,24)"
                    }
                },
                {
                    "name": "\u66f2\u9756",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(151,4,76)"
                    }
                },
                {
                    "name": "\u5b9c\u660c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,107,155)"
                    }
                },
                {
                    "name": "\u6606\u5c71",
                    "value": 16,
                    "textStyle": {
                        "color": "rgb(43,131,0)"
                    }
                },
                {
                    "name": "\u67f3\u5dde",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(28,98,131)"
                    }
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(108,89,57)"
                    }
                },
                {
                    "name": "\u5e73\u9876\u5c71",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,8,29)"
                    }
                },
                {
                    "name": "\u4e09\u4e9a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,1,18)"
                    }
                },
                {
                    "name": "\u6210\u90fd",
                    "value": 205,
                    "textStyle": {
                        "color": "rgb(44,40,95)"
                    }
                },
                {
                    "name": "\u8d63\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(27,6,53)"
                    }
                },
                {
                    "name": "\u8087\u5e86",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(136,137,124)"
                    }
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": 111,
                    "textStyle": {
                        "color": "rgb(49,140,94)"
                    }
                },
                {
                    "name": "\u94a6\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(43,31,96)"
                    }
                },
                {
                    "name": "\u9547\u6c5f",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(97,35,0)"
                    }
                },
                {
                    "name": "\u9102\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(132,13,67)"
                    }
                },
                {
                    "name": "\u6e58\u6f6d",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(72,46,20)"
                    }
                },
                {
                    "name": "\u695a\u96c4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(12,72,30)"
                    }
                },
                {
                    "name": "\u840d\u4e61",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,67,18)"
                    }
                },
                {
                    "name": "\u4fdd\u5b9a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(69,21,53)"
                    }
                },
                {
                    "name": "\u8861\u9633",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,56,55)"
                    }
                },
                {
                    "name": "\u77f3\u5bb6\u5e84",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(154,93,88)"
                    }
                },
                {
                    "name": "\u6cf0\u5dde",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(76,142,120)"
                    }
                },
                {
                    "name": "\u5b89\u9633",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(144,67,95)"
                    }
                },
                {
                    "name": "\u5357\u660c",
                    "value": 22,
                    "textStyle": {
                        "color": "rgb(61,115,43)"
                    }
                },
                {
                    "name": "\u9ed4\u5357",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(92,61,1)"
                    }
                },
                {
                    "name": "\u592a\u4ed3",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(6,25,54)"
                    }
                },
                {
                    "name": "\u79e6\u7687\u5c9b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(23,148,124)"
                    }
                },
                {
                    "name": "\u94dc\u9675",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(72,20,39)"
                    }
                },
                {
                    "name": "\u7ecd\u5174",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(147,49,151)"
                    }
                },
                {
                    "name": "\u8346\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,32,136)"
                    }
                },
                {
                    "name": "\u5170\u5dde",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(6,22,48)"
                    }
                },
                {
                    "name": "\u6e29\u5dde",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(64,133,117)"
                    }
                },
                {
                    "name": "\u70df\u53f0",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(94,97,83)"
                    }
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 223,
                    "textStyle": {
                        "color": "rgb(13,32,41)"
                    }
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": 27,
                    "textStyle": {
                        "color": "rgb(103,142,65)"
                    }
                },
                {
                    "name": "\u8d35\u9633",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(69,57,143)"
                    }
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(40,26,138)"
                    }
                },
                {
                    "name": "\u5e7f\u5b89",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(81,39,132)"
                    }
                },
                {
                    "name": "\u6cf0\u5b89",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(25,59,139)"
                    }
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": 415,
                    "textStyle": {
                        "color": "rgb(147,37,63)"
                    }
                },
                {
                    "name": "\u6f4d\u574a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(123,22,71)"
                    }
                },
                {
                    "name": "\u6e56\u5dde",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(82,1,8)"
                    }
                },
                {
                    "name": "\u5bbf\u8fc1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,91,73)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5404\u57ce\u5e02\u62db\u8058\u9700\u6c42\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_b1b2395db4394a8991dc5cb58894cc49.setOption(option_b1b2395db4394a8991dc5cb58894cc49);
    </script>
</body>
</html>
