<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="d0a136234783427ab90745d261496e1b" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d0a136234783427ab90745d261496e1b = echarts.init(
            document.getElementById('d0a136234783427ab90745d261496e1b'), 'white', {renderer: 'canvas'});
        var option_d0a136234783427ab90745d261496e1b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "funnel",
            "data": [
                {
                    "name": "3-4\u5e74\u7ecf\u9a8c",
                    "value": 1554
                },
                {
                    "name": "2\u5e74\u7ecf\u9a8c",
                    "value": 681
                },
                {
                    "name": "1\u5e74\u7ecf\u9a8c",
                    "value": 322
                },
                {
                    "name": "5-7\u5e74\u7ecf\u9a8c",
                    "value": 866
                },
                {
                    "name": "\u65e0\u9700\u7ecf\u9a8c",
                    "value": 93
                },
                {
                    "name": "10\u5e74\u4ee5\u4e0a\u7ecf\u9a8c",
                    "value": 52
                },
                {
                    "name": "8-9\u5e74\u7ecf\u9a8c",
                    "value": 112
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "3-4\u5e74\u7ecf\u9a8c",
                "2\u5e74\u7ecf\u9a8c",
                "1\u5e74\u7ecf\u9a8c",
                "5-7\u5e74\u7ecf\u9a8c",
                "\u65e0\u9700\u7ecf\u9a8c",
                "10\u5e74\u4ee5\u4e0a\u7ecf\u9a8c",
                "8-9\u5e74\u7ecf\u9a8c"
            ],
            "selected": {
                "3-4\u5e74\u7ecf\u9a8c": true,
                "2\u5e74\u7ecf\u9a8c": true,
                "1\u5e74\u7ecf\u9a8c": true,
                "5-7\u5e74\u7ecf\u9a8c": true,
                "\u65e0\u9700\u7ecf\u9a8c": true,
                "10\u5e74\u4ee5\u4e0a\u7ecf\u9a8c": true,
                "8-9\u5e74\u7ecf\u9a8c": true
            },
            "show": true,
            "left": "2%",
            "top": "15%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5de5\u4f5c\u7ecf\u9a8c\u8981\u6c42\u5206\u6790",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d0a136234783427ab90745d261496e1b.setOption(option_d0a136234783427ab90745d261496e1b);
    </script>
</body>
</html>
