<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Python-Data Analysis</title>

    <!-- Custom fonts for this template-->
    <link href="css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Python数据分析</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - 各地区招聘需求分布 -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html" ><span>各地区招聘需求分布</span></a>
            </li>

            <!-- Nav Item - 各城市招聘需求词云 -->
            <li class="nav-item active">
                <a class="nav-link" href="city_recruit.html" ><span>各城市招聘需求词云</span></a>
            </li>

            <!-- Nav Item - 主要城市薪资关系 -->
            <li class="nav-item active">
                <a class="nav-link" href="salary_city.html" ><span>主要城市薪资关系</span></a>
            </li>

            <!-- Nav Item - 薪资与学历关系 -->
            <li class="nav-item active">
                <a class="nav-link" href="salary_education.html" ><span>薪资与学历关系</span></a>
            </li>

            <!-- Nav Item - 薪资与工作经验关系 -->
            <li class="nav-item active">
                <a class="nav-link" href="salary_experience.html" ><span>薪资与工作经验关系</span></a>
            </li>

            <!-- Nav Item - 学历要求分析 -->
            <li class="nav-item active">
                <a class="nav-link" href="education_require.html" ><span>学历要求分析</span></a>
            </li>

            <!-- Nav Item - 工作经验要求分析 -->
            <li class="nav-item active">
                <a class="nav-link" href="experience_require.html" ><span>工作经验要求分析</span></a>
            </li>

            <!-- Nav Item - 公司福利词云 -->
            <li class="nav-item active">
                <a class="nav-link" href="cop_welfare.html" ><span>公司福利词云</span></a>
            </li>

            <!-- Nav Item - 公司性质占比分析 -->
            <li class="nav-item active">
                <a class="nav-link" href="cop_character.html" ><span>公司性质占比分析</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="sticky-footer bg-white">
                    <div class="copyright text-center my-auto" >
                        <span>以“大数据”岗位招聘为例</span>
                    </div>
                </nav>

                <!-- Draw Content -->
                <iframe marginwidth=0 marginheight=0 width="100%" height="100%" src="web/主要城市薪资关系.html" frameborder="no" ></iframe>

            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto" >
                        <span>Copyright &copy; My Website 2023</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

</body>

</html>