<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="dd874e3d922a4aa2a1a3a5815aaca39e" class="chart-container" style="width:1400px; height:500px; "></div>
    <script>
        var chart_dd874e3d922a4aa2a1a3a5815aaca39e = echarts.init(
            document.getElementById('dd874e3d922a4aa2a1a3a5815aaca39e'), 'white', {renderer: 'canvas'});
        var option_dd874e3d922a4aa2a1a3a5815aaca39e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "LightCoral",
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e3b\u8981\u57ce\u5e02\u85aa\u8d44\u5173\u7cfb",
            "legendHoverLink": true,
            "data": [
                4.33,
                4.33,
                4.03,
                3.75,
                3.57,
                3.57,
                3.55,
                3.38,
                3.33,
                3.3
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e3b\u8981\u57ce\u5e02\u85aa\u8d44\u5173\u7cfb"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6e29\u5dde",
                "\u91d1\u534e",
                "\u6606\u5c71",
                "\u6c5f\u95e8",
                "\u5317\u4eac",
                "\u5609\u5174\u00b7\u5357\u6e56\u533a",
                "\u60e0\u5dde\u00b7\u5927\u4e9a\u6e7e\u533a",
                "\u73e0\u6d77\u00b7\u6597\u95e8\u533a",
                "\u53f0\u5dde\u00b7\u6e29\u5cad\u5e02",
                "\u60e0\u5dde\u00b7\u60e0\u9633\u533a"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u85aa\u8d44\uff1a\u4e07\u5143/\u6708",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u4e3b\u8981\u57ce\u5e02\u85aa\u8d44\u5173\u7cfb",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_dd874e3d922a4aa2a1a3a5815aaca39e.setOption(option_dd874e3d922a4aa2a1a3a5815aaca39e);
    </script>
</body>
</html>
