<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="b880a8791d1a4712978accfa2ebb7c8d" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b880a8791d1a4712978accfa2ebb7c8d = echarts.init(
            document.getElementById('b880a8791d1a4712978accfa2ebb7c8d'), 'white', {renderer: 'canvas'});
        var option_b880a8791d1a4712978accfa2ebb7c8d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u6c11\u8425",
                    "value": 3694
                },
                {
                    "name": "\u56fd\u4f01",
                    "value": 863
                },
                {
                    "name": "\u5df2\u4e0a\u5e02",
                    "value": 795
                },
                {
                    "name": "\u5916\u8d44\uff08\u975e\u6b27\u7f8e\uff09",
                    "value": 380
                },
                {
                    "name": "\u5408\u8d44",
                    "value": 319
                },
                {
                    "name": "\u5916\u8d44\uff08\u6b27\u7f8e\uff09",
                    "value": 229
                },
                {
                    "name": "\u975e\u8425\u5229\u7ec4\u7ec7",
                    "value": 219
                },
                {
                    "name": "\u521b\u4e1a\u516c\u53f8",
                    "value": 55
                },
                {
                    "name": "\u4e8b\u4e1a\u5355\u4f4d",
                    "value": 52
                },
                {
                    "name": "\u653f\u5e9c\u673a\u5173",
                    "value": 1
                }
            ],
            "radius": [
                "40%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "margin": 8,
                "formatter": "{b}: {d}%"
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6c11\u8425",
                "\u56fd\u4f01",
                "\u5df2\u4e0a\u5e02",
                "\u5916\u8d44\uff08\u975e\u6b27\u7f8e\uff09",
                "\u5408\u8d44",
                "\u5916\u8d44\uff08\u6b27\u7f8e\uff09",
                "\u975e\u8425\u5229\u7ec4\u7ec7",
                "\u521b\u4e1a\u516c\u53f8",
                "\u4e8b\u4e1a\u5355\u4f4d",
                "\u653f\u5e9c\u673a\u5173"
            ],
            "selected": {},
            "show": true,
            "left": "2%",
            "top": "15%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u516c\u53f8\u6027\u8d28\u5360\u6bd4\u5206\u6790",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_b880a8791d1a4712978accfa2ebb7c8d.setOption(option_b880a8791d1a4712978accfa2ebb7c8d);
    </script>
</body>
</html>
