<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="b12bfe5ccda341e3acfe4ddcf28bb573" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b12bfe5ccda341e3acfe4ddcf28bb573 = echarts.init(
            document.getElementById('b12bfe5ccda341e3acfe4ddcf28bb573'), 'white', {renderer: 'canvas'});
        var option_b12bfe5ccda341e3acfe4ddcf28bb573 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e94\u9669\u4e00\u91d1",
                    "value": 4319,
                    "textStyle": {
                        "color": "rgb(138,52,137)"
                    }
                },
                {
                    "name": "\u5e74\u7ec8\u5956\u91d1",
                    "value": 2693,
                    "textStyle": {
                        "color": "rgb(23,21,153)"
                    }
                },
                {
                    "name": "\u5b9a\u671f\u4f53\u68c0",
                    "value": 2542,
                    "textStyle": {
                        "color": "rgb(24,62,34)"
                    }
                },
                {
                    "name": "\u7ee9\u6548\u5956\u91d1",
                    "value": 2205,
                    "textStyle": {
                        "color": "rgb(89,43,11)"
                    }
                },
                {
                    "name": "\u4e13\u4e1a\u57f9\u8bad",
                    "value": 1932,
                    "textStyle": {
                        "color": "rgb(110,117,134)"
                    }
                },
                {
                    "name": "\u9910\u996e\u8865\u8d34",
                    "value": 1918,
                    "textStyle": {
                        "color": "rgb(157,64,111)"
                    }
                },
                {
                    "name": "\u5458\u5de5\u65c5\u6e38",
                    "value": 1274,
                    "textStyle": {
                        "color": "rgb(60,68,16)"
                    }
                },
                {
                    "name": "\u901a\u8baf\u8865\u8d34",
                    "value": 1128,
                    "textStyle": {
                        "color": "rgb(23,104,13)"
                    }
                },
                {
                    "name": "\u4ea4\u901a\u8865\u8d34",
                    "value": 1080,
                    "textStyle": {
                        "color": "rgb(132,60,141)"
                    }
                },
                {
                    "name": "\u8865\u5145\u533b\u7597\u4fdd\u9669",
                    "value": 1021,
                    "textStyle": {
                        "color": "rgb(134,126,62)"
                    }
                },
                {
                    "name": "\u5f39\u6027\u5de5\u4f5c",
                    "value": 944,
                    "textStyle": {
                        "color": "rgb(97,129,64)"
                    }
                },
                {
                    "name": "\u5e26\u85aa\u5e74\u5047",
                    "value": 845,
                    "textStyle": {
                        "color": "rgb(138,116,19)"
                    }
                },
                {
                    "name": "\u5468\u672b\u53cc\u4f11",
                    "value": 697,
                    "textStyle": {
                        "color": "rgb(119,47,122)"
                    }
                },
                {
                    "name": "\u8282\u65e5\u798f\u5229",
                    "value": 608,
                    "textStyle": {
                        "color": "rgb(83,34,84)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u73ed\u8f66",
                    "value": 407,
                    "textStyle": {
                        "color": "rgb(50,155,100)"
                    }
                },
                {
                    "name": "\u8865\u5145\u516c\u79ef\u91d1",
                    "value": 267,
                    "textStyle": {
                        "color": "rgb(110,136,36)"
                    }
                },
                {
                    "name": "\u80a1\u7968\u671f\u6743",
                    "value": 249,
                    "textStyle": {
                        "color": "rgb(93,40,10)"
                    }
                },
                {
                    "name": "\u51fa\u56fd\u673a\u4f1a",
                    "value": 230,
                    "textStyle": {
                        "color": "rgb(23,48,8)"
                    }
                },
                {
                    "name": "\u6cd5\u5b9a\u8282\u5047\u65e5",
                    "value": 213,
                    "textStyle": {
                        "color": "rgb(38,96,37)"
                    }
                },
                {
                    "name": "\u5458\u5de5\u98df\u5802",
                    "value": 202,
                    "textStyle": {
                        "color": "rgb(139,12,123)"
                    }
                },
                {
                    "name": "\u5168\u52e4\u5956",
                    "value": 118,
                    "textStyle": {
                        "color": "rgb(64,74,50)"
                    }
                },
                {
                    "name": "\u4e94\u9669",
                    "value": 106,
                    "textStyle": {
                        "color": "rgb(45,51,100)"
                    }
                },
                {
                    "name": "\u9ad8\u6e29\u8865\u8d34",
                    "value": 105,
                    "textStyle": {
                        "color": "rgb(136,119,23)"
                    }
                },
                {
                    "name": "\u52a0\u73ed\u8865\u8d34",
                    "value": 77,
                    "textStyle": {
                        "color": "rgb(130,65,88)"
                    }
                },
                {
                    "name": "\u751f\u65e5\u798f\u5229",
                    "value": 73,
                    "textStyle": {
                        "color": "rgb(9,86,40)"
                    }
                },
                {
                    "name": "\u4e0b\u5348\u8336",
                    "value": 66,
                    "textStyle": {
                        "color": "rgb(144,90,68)"
                    }
                },
                {
                    "name": "\u5305\u4f4f\u5bbf",
                    "value": 64,
                    "textStyle": {
                        "color": "rgb(98,37,32)"
                    }
                },
                {
                    "name": "\u5305\u5403",
                    "value": 60,
                    "textStyle": {
                        "color": "rgb(145,157,142)"
                    }
                },
                {
                    "name": "\u51fa\u5dee\u8865\u8d34",
                    "value": 59,
                    "textStyle": {
                        "color": "rgb(7,20,49)"
                    }
                },
                {
                    "name": "\u6241\u5e73\u7ba1\u7406",
                    "value": 58,
                    "textStyle": {
                        "color": "rgb(25,24,25)"
                    }
                },
                {
                    "name": "\u5e26\u85aa\u4f11\u5047",
                    "value": 51,
                    "textStyle": {
                        "color": "rgb(22,147,132)"
                    }
                },
                {
                    "name": "\u5065\u8eab\u745c\u4f3d",
                    "value": 42,
                    "textStyle": {
                        "color": "rgb(155,141,87)"
                    }
                },
                {
                    "name": "\u5e74\u5e95\u53cc\u85aa",
                    "value": 41,
                    "textStyle": {
                        "color": "rgb(18,97,39)"
                    }
                },
                {
                    "name": "\u5546\u4e1a\u4fdd\u9669",
                    "value": 39,
                    "textStyle": {
                        "color": "rgb(124,142,71)"
                    }
                },
                {
                    "name": "\u5de5\u4f5c\u9910",
                    "value": 35,
                    "textStyle": {
                        "color": "rgb(133,109,16)"
                    }
                },
                {
                    "name": "\u5e26\u85aa\u75c5\u5047",
                    "value": 29,
                    "textStyle": {
                        "color": "rgb(79,65,68)"
                    }
                },
                {
                    "name": "\u9879\u76ee\u5956\u91d1",
                    "value": 29,
                    "textStyle": {
                        "color": "rgb(156,94,6)"
                    }
                },
                {
                    "name": "\u5348\u9910\u8865\u52a9",
                    "value": 20,
                    "textStyle": {
                        "color": "rgb(68,119,148)"
                    }
                },
                {
                    "name": "\u4e03\u9669\u4e00\u91d1",
                    "value": 19,
                    "textStyle": {
                        "color": "rgb(55,11,70)"
                    }
                },
                {
                    "name": "\u5b9a\u671f\u56e2\u5efa",
                    "value": 18,
                    "textStyle": {
                        "color": "rgb(33,41,55)"
                    }
                },
                {
                    "name": "\u63d0\u6210\u5956\u91d1",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(110,47,20)"
                    }
                },
                {
                    "name": "\u5305\u4f4f",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(9,74,76)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u5065\u8eab",
                    "value": 16,
                    "textStyle": {
                        "color": "rgb(25,82,89)"
                    }
                },
                {
                    "name": "\u793e\u4fdd",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(76,128,21)"
                    }
                },
                {
                    "name": "\u5458\u5de5\u5bbf\u820d",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(122,116,93)"
                    }
                },
                {
                    "name": "\u9910\u8865",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(10,76,31)"
                    }
                },
                {
                    "name": "\u5e74\u7ec8\u5956",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(142,151,106)"
                    }
                },
                {
                    "name": "\u610f\u5916\u9669",
                    "value": 11,
                    "textStyle": {
                        "color": "rgb(36,47,119)"
                    }
                },
                {
                    "name": "\u6709\u8f6c\u6b63\u673a\u4f1a",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(120,56,36)"
                    }
                },
                {
                    "name": "\u5305\u5403\u4f4f",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(100,68,5)"
                    }
                },
                {
                    "name": "\u5e74\u5ea6\u8c03\u85aa",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(5,69,14)"
                    }
                },
                {
                    "name": "\u5de5\u9f84\u5956",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(64,113,42)"
                    }
                },
                {
                    "name": "\u91c7\u6696\u8865\u8d34",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(53,125,11)"
                    }
                },
                {
                    "name": "\u5c97\u4f4d\u664b\u5347",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(91,86,115)"
                    }
                },
                {
                    "name": "\u8bd5\u7528\u671f\u5168\u989d",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(131,70,35)"
                    }
                },
                {
                    "name": "\u4e0d\u52a0\u73ed",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(37,71,65)"
                    }
                },
                {
                    "name": "\u56e2\u961f\u805a\u9910",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(42,44,44)"
                    }
                },
                {
                    "name": "\u623f\u8865",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(17,129,27)"
                    }
                },
                {
                    "name": "\u516d\u9669\u4e24\u91d1",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(155,98,11)"
                    }
                },
                {
                    "name": "\u80a1\u6743\u6fc0\u52b1",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(59,53,127)"
                    }
                },
                {
                    "name": "\u5b9e\u4e60\u8bc1\u660e",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(57,154,23)"
                    }
                },
                {
                    "name": "\u96f6\u98df\u4e0b\u5348\u8336",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(128,33,32)"
                    }
                },
                {
                    "name": "\u671d\u4e5d\u665a\u516d",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(86,0,39)"
                    }
                },
                {
                    "name": "\u8bd5\u7528\u671f\u5168\u85aa",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(97,5,158)"
                    }
                },
                {
                    "name": "\u516c\u53f8\u65c5\u6e38",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(70,108,120)"
                    }
                },
                {
                    "name": "\u9879\u76ee\u63d0\u6210",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(57,145,31)"
                    }
                },
                {
                    "name": "\u5b66\u5386\u8865\u8d34",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(78,9,60)"
                    }
                },
                {
                    "name": "\u7f34\u7eb3\u4e94\u9669",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(93,113,82)"
                    }
                },
                {
                    "name": "\u8d85\u957f\u5e74\u5047",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(159,35,97)"
                    }
                },
                {
                    "name": "\u5546\u4e1a\u610f\u5916\u9669",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(106,76,90)"
                    }
                },
                {
                    "name": "\u5de5\u4f5c\u8f7b\u677e",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(115,11,160)"
                    }
                },
                {
                    "name": "\u5de5\u4f1a\u798f\u5229",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(83,70,10)"
                    }
                },
                {
                    "name": "\u5168\u52e4\u5956\u91d1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(83,96,57)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u4f53\u68c0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(121,90,93)"
                    }
                },
                {
                    "name": "\u5e74\u7ec8\u5206\u7ea2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(25,83,14)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u57f9\u8bad",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(56,88,50)"
                    }
                },
                {
                    "name": "8\u5c0f\u65f6\u5de5\u4f5c\u5236",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,56,143)"
                    }
                },
                {
                    "name": "\u7f34\u7eb3\u793e\u4fdd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(29,39,59)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u516c\u53f8\u798f\u5229\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_b12bfe5ccda341e3acfe4ddcf28bb573.setOption(option_b12bfe5ccda341e3acfe4ddcf28bb573);
    </script>
</body>
</html>
