<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="e21925c34d37420c9686ecb82adbf0a5" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_e21925c34d37420c9686ecb82adbf0a5 = echarts.init(
            document.getElementById('e21925c34d37420c9686ecb82adbf0a5'), 'white', {renderer: 'canvas'});
        var option_e21925c34d37420c9686ecb82adbf0a5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e94\u9669\u4e00\u91d1",
                    "value": 5340,
                    "textStyle": {
                        "color": "rgb(71,133,131)"
                    }
                },
                {
                    "name": "\u5e74\u7ec8\u5956\u91d1",
                    "value": 3436,
                    "textStyle": {
                        "color": "rgb(145,41,52)"
                    }
                },
                {
                    "name": "\u7ee9\u6548\u5956\u91d1",
                    "value": 2871,
                    "textStyle": {
                        "color": "rgb(97,32,0)"
                    }
                },
                {
                    "name": "\u5b9a\u671f\u4f53\u68c0",
                    "value": 2731,
                    "textStyle": {
                        "color": "rgb(128,146,111)"
                    }
                },
                {
                    "name": "\u4e13\u4e1a\u57f9\u8bad",
                    "value": 2409,
                    "textStyle": {
                        "color": "rgb(39,57,111)"
                    }
                },
                {
                    "name": "\u9910\u996e\u8865\u8d34",
                    "value": 2213,
                    "textStyle": {
                        "color": "rgb(78,66,23)"
                    }
                },
                {
                    "name": "\u5458\u5de5\u65c5\u6e38",
                    "value": 1785,
                    "textStyle": {
                        "color": "rgb(115,143,27)"
                    }
                },
                {
                    "name": "\u901a\u8baf\u8865\u8d34",
                    "value": 1230,
                    "textStyle": {
                        "color": "rgb(71,43,128)"
                    }
                },
                {
                    "name": "\u5f39\u6027\u5de5\u4f5c",
                    "value": 1205,
                    "textStyle": {
                        "color": "rgb(50,71,58)"
                    }
                },
                {
                    "name": "\u4ea4\u901a\u8865\u8d34",
                    "value": 1095,
                    "textStyle": {
                        "color": "rgb(29,98,157)"
                    }
                },
                {
                    "name": "\u8865\u5145\u533b\u7597\u4fdd\u9669",
                    "value": 998,
                    "textStyle": {
                        "color": "rgb(3,84,130)"
                    }
                },
                {
                    "name": "\u5e26\u85aa\u5e74\u5047",
                    "value": 984,
                    "textStyle": {
                        "color": "rgb(121,93,6)"
                    }
                },
                {
                    "name": "\u5468\u672b\u53cc\u4f11",
                    "value": 901,
                    "textStyle": {
                        "color": "rgb(53,79,73)"
                    }
                },
                {
                    "name": "\u8282\u65e5\u798f\u5229",
                    "value": 871,
                    "textStyle": {
                        "color": "rgb(25,71,22)"
                    }
                },
                {
                    "name": "\u80a1\u7968\u671f\u6743",
                    "value": 465,
                    "textStyle": {
                        "color": "rgb(155,66,31)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u73ed\u8f66",
                    "value": 451,
                    "textStyle": {
                        "color": "rgb(97,141,37)"
                    }
                },
                {
                    "name": "\u4e0b\u5348\u8336",
                    "value": 352,
                    "textStyle": {
                        "color": "rgb(159,32,96)"
                    }
                },
                {
                    "name": "\u8865\u5145\u516c\u79ef\u91d1",
                    "value": 326,
                    "textStyle": {
                        "color": "rgb(49,48,30)"
                    }
                },
                {
                    "name": "\u6241\u5e73\u7ba1\u7406",
                    "value": 301,
                    "textStyle": {
                        "color": "rgb(88,60,108)"
                    }
                },
                {
                    "name": "\u5e26\u85aa\u4f11\u5047",
                    "value": 239,
                    "textStyle": {
                        "color": "rgb(83,54,31)"
                    }
                },
                {
                    "name": "\u5065\u8eab\u745c\u4f3d",
                    "value": 236,
                    "textStyle": {
                        "color": "rgb(144,9,23)"
                    }
                },
                {
                    "name": "\u51fa\u56fd\u673a\u4f1a",
                    "value": 199,
                    "textStyle": {
                        "color": "rgb(127,87,138)"
                    }
                },
                {
                    "name": "\u5168\u52e4\u5956",
                    "value": 182,
                    "textStyle": {
                        "color": "rgb(120,43,152)"
                    }
                },
                {
                    "name": "\u4e94\u9669",
                    "value": 143,
                    "textStyle": {
                        "color": "rgb(6,95,93)"
                    }
                },
                {
                    "name": "\u9ad8\u6e29\u8865\u8d34",
                    "value": 130,
                    "textStyle": {
                        "color": "rgb(130,39,15)"
                    }
                },
                {
                    "name": "\u52a0\u73ed\u8865\u8d34",
                    "value": 108,
                    "textStyle": {
                        "color": "rgb(85,57,49)"
                    }
                },
                {
                    "name": "\u5305\u4f4f\u5bbf",
                    "value": 97,
                    "textStyle": {
                        "color": "rgb(131,5,52)"
                    }
                },
                {
                    "name": "\u751f\u65e5\u798f\u5229",
                    "value": 95,
                    "textStyle": {
                        "color": "rgb(96,54,86)"
                    }
                },
                {
                    "name": "\u5305\u5403",
                    "value": 85,
                    "textStyle": {
                        "color": "rgb(28,52,60)"
                    }
                },
                {
                    "name": "\u793e\u4fdd",
                    "value": 57,
                    "textStyle": {
                        "color": "rgb(151,33,139)"
                    }
                },
                {
                    "name": "\u5546\u4e1a\u4fdd\u9669",
                    "value": 49,
                    "textStyle": {
                        "color": "rgb(121,93,91)"
                    }
                },
                {
                    "name": "\u51fa\u5dee\u8865\u8d34",
                    "value": 47,
                    "textStyle": {
                        "color": "rgb(0,81,82)"
                    }
                },
                {
                    "name": "\u5de5\u4f5c\u9910",
                    "value": 46,
                    "textStyle": {
                        "color": "rgb(116,69,10)"
                    }
                },
                {
                    "name": "\u5e74\u5e95\u53cc\u85aa",
                    "value": 40,
                    "textStyle": {
                        "color": "rgb(36,73,42)"
                    }
                },
                {
                    "name": "\u5b9a\u671f\u56e2\u5efa",
                    "value": 38,
                    "textStyle": {
                        "color": "rgb(51,44,7)"
                    }
                },
                {
                    "name": "\u5e74\u5ea6\u8c03\u85aa",
                    "value": 36,
                    "textStyle": {
                        "color": "rgb(115,117,7)"
                    }
                },
                {
                    "name": "\u5e26\u85aa\u75c5\u5047",
                    "value": 33,
                    "textStyle": {
                        "color": "rgb(157,122,76)"
                    }
                },
                {
                    "name": "\u9910\u8865",
                    "value": 31,
                    "textStyle": {
                        "color": "rgb(144,97,111)"
                    }
                },
                {
                    "name": "\u9879\u76ee\u5956\u91d1",
                    "value": 30,
                    "textStyle": {
                        "color": "rgb(130,59,128)"
                    }
                },
                {
                    "name": "\u6cd5\u5b9a\u8282\u5047\u65e5",
                    "value": 30,
                    "textStyle": {
                        "color": "rgb(27,18,137)"
                    }
                },
                {
                    "name": "\u5c97\u4f4d\u664b\u5347",
                    "value": 30,
                    "textStyle": {
                        "color": "rgb(111,116,118)"
                    }
                },
                {
                    "name": "\u4e03\u9669\u4e00\u91d1",
                    "value": 28,
                    "textStyle": {
                        "color": "rgb(46,58,112)"
                    }
                },
                {
                    "name": "\u5305\u5403\u4f4f",
                    "value": 27,
                    "textStyle": {
                        "color": "rgb(122,42,55)"
                    }
                },
                {
                    "name": "\u5305\u4f4f",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(118,51,107)"
                    }
                },
                {
                    "name": "\u610f\u5916\u9669",
                    "value": 22,
                    "textStyle": {
                        "color": "rgb(83,80,91)"
                    }
                },
                {
                    "name": "\u63d0\u6210\u5956\u91d1",
                    "value": 20,
                    "textStyle": {
                        "color": "rgb(76,154,0)"
                    }
                },
                {
                    "name": "\u5458\u5de5\u98df\u5802",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(60,30,102)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u5065\u8eab",
                    "value": 16,
                    "textStyle": {
                        "color": "rgb(59,57,156)"
                    }
                },
                {
                    "name": "\u96f6\u98df\u4e0b\u5348\u8336",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(66,89,10)"
                    }
                },
                {
                    "name": "\u56e2\u961f\u805a\u9910",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(108,99,19)"
                    }
                },
                {
                    "name": "\u623f\u8865",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(123,48,53)"
                    }
                },
                {
                    "name": "\u9879\u76ee\u63d0\u6210",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(114,25,17)"
                    }
                },
                {
                    "name": "\u8bd5\u7528\u671f\u5168\u989d",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(87,51,49)"
                    }
                },
                {
                    "name": "\u5e74\u7ec8\u5206\u7ea2",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(154,159,101)"
                    }
                },
                {
                    "name": "\u5b9e\u4e60\u8bc1\u660e",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(98,54,11)"
                    }
                },
                {
                    "name": "\u5e74\u7ec8\u5956",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(57,9,70)"
                    }
                },
                {
                    "name": "\u5168\u52e4\u5956\u91d1",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(115,33,146)"
                    }
                },
                {
                    "name": "\u5348\u9910\u8865\u52a9",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(59,122,32)"
                    }
                },
                {
                    "name": "\u4e1a\u7ee9\u5956\u91d1",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(36,48,18)"
                    }
                },
                {
                    "name": "\u5de5\u4f1a\u798f\u5229",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(98,74,12)"
                    }
                },
                {
                    "name": "\u6280\u80fd\u57f9\u8bad",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(134,33,84)"
                    }
                },
                {
                    "name": "\u5546\u4e1a\u610f\u5916\u9669",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(64,83,133)"
                    }
                },
                {
                    "name": "\u516d\u9669\u4e24\u91d1",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(137,123,81)"
                    }
                },
                {
                    "name": "\u671d\u4e5d\u665a\u516d",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(40,133,39)"
                    }
                },
                {
                    "name": "\u6709\u8f6c\u6b63\u673a\u4f1a",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(152,25,121)"
                    }
                },
                {
                    "name": "8\u5c0f\u65f6\u5de5\u4f5c\u5236",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(2,126,136)"
                    }
                },
                {
                    "name": "\u505a\u4e00\u4f11\u4e00",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(121,127,6)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u4f53\u68c0",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(130,144,30)"
                    }
                },
                {
                    "name": "\u5de5\u9f84\u5956",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(53,109,41)"
                    }
                },
                {
                    "name": "\u514d\u8d39\u57f9\u8bad",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(54,20,39)"
                    }
                },
                {
                    "name": "\u8bd5\u7528\u671f\u5168\u85aa",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(80,158,127)"
                    }
                },
                {
                    "name": "\u80a1\u6743\u6fc0\u52b1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(43,151,95)"
                    }
                },
                {
                    "name": "\u5458\u5de5\u5bbf\u820d",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(107,147,21)"
                    }
                },
                {
                    "name": "\u65f6\u95f4\u81ea\u7531",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(52,78,139)"
                    }
                },
                {
                    "name": "\u671d\u4e5d\u665a\u4e94",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(143,65,94)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u516c\u53f8\u798f\u5229\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_e21925c34d37420c9686ecb82adbf0a5.setOption(option_e21925c34d37420c9686ecb82adbf0a5);
    </script>
</body>
</html>
