<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="91f06abe0ff941af97eb30631b728e85" class="chart-container" style="width:800px; height:600px; "></div>
    <script>
        var chart_91f06abe0ff941af97eb30631b728e85 = echarts.init(
            document.getElementById('91f06abe0ff941af97eb30631b728e85'), 'white', {renderer: 'canvas'});
        var option_91f06abe0ff941af97eb30631b728e85 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u8ba1\u7b97\u673a\u8f6f\u4ef6",
                    "value": 2629
                },
                {
                    "name": "\u7535\u5b50\u5546\u52a1",
                    "value": 1162
                },
                {
                    "name": "\u4e92\u8054\u7f51",
                    "value": 1162
                },
                {
                    "name": "\u7535\u5b50\u6280\u672f",
                    "value": 701
                },
                {
                    "name": "\u96c6\u6210\u7535\u8def",
                    "value": 701
                },
                {
                    "name": "\u534a\u5bfc\u4f53",
                    "value": 701
                },
                {
                    "name": "\u901a\u4fe1",
                    "value": 448
                },
                {
                    "name": "\u8ba1\u7b97\u673a\u670d\u52a1(\u7cfb\u7edf\u3001\u6570\u636e\u670d\u52a1\u3001\u7ef4\u4fee)",
                    "value": 326
                },
                {
                    "name": "\u7535\u4fe1",
                    "value": 313
                },
                {
                    "name": "\u7f51\u7edc\u8bbe\u5907",
                    "value": 313
                },
                {
                    "name": "\u4eea\u5668\u4eea\u8868",
                    "value": 306
                },
                {
                    "name": "\u5de5\u4e1a\u81ea\u52a8\u5316",
                    "value": 306
                },
                {
                    "name": "\u8bbe\u5907",
                    "value": 289
                },
                {
                    "name": "\u91cd\u5de5",
                    "value": 289
                },
                {
                    "name": "\u673a\u68b0",
                    "value": 289
                },
                {
                    "name": "\u4e13\u4e1a\u670d\u52a1(\u54a8\u8be2\u3001\u4eba\u529b\u8d44\u6e90\u3001\u8d22\u4f1a)",
                    "value": 225
                },
                {
                    "name": "\u5efa\u7b51",
                    "value": 203
                },
                {
                    "name": "\u5efa\u6750",
                    "value": 203
                },
                {
                    "name": "\u5de5\u7a0b",
                    "value": 203
                },
                {
                    "name": "\u5236\u836f",
                    "value": 183
                },
                {
                    "name": "\u751f\u7269\u5de5\u7a0b",
                    "value": 183
                },
                {
                    "name": "\u65b0\u80fd\u6e90",
                    "value": 179
                },
                {
                    "name": "\u91d1\u878d",
                    "value": 161
                },
                {
                    "name": "\u6295\u8d44",
                    "value": 161
                },
                {
                    "name": "\u8bc1\u5238",
                    "value": 161
                },
                {
                    "name": "\u5668\u68b0",
                    "value": 153
                },
                {
                    "name": "\u533b\u7597\u8bbe\u5907",
                    "value": 153
                },
                {
                    "name": "\u79d1\u7814",
                    "value": 144
                },
                {
                    "name": "\u5b66\u672f",
                    "value": 144
                },
                {
                    "name": "\u8fdb\u51fa\u53e3",
                    "value": 137
                },
                {
                    "name": "\u8d38\u6613",
                    "value": 137
                },
                {
                    "name": "\u7535\u4fe1\u8fd0\u8425\u3001\u589e\u503c\u670d\u52a1",
                    "value": 135
                },
                {
                    "name": "\u6c7d\u8f66",
                    "value": 126
                },
                {
                    "name": "\u7535\u6c14",
                    "value": 119
                },
                {
                    "name": "\u6c34\u5229",
                    "value": 119
                },
                {
                    "name": "\u7535\u529b",
                    "value": 119
                },
                {
                    "name": "\u591a\u5143\u5316\u4e1a\u52a1\u96c6\u56e2\u516c\u53f8",
                    "value": 111
                },
                {
                    "name": "\u793c\u54c1",
                    "value": 87
                },
                {
                    "name": "\u73a9\u5177",
                    "value": 87
                },
                {
                    "name": "\u5bb6\u7535",
                    "value": 87
                },
                {
                    "name": "\u5bb6\u5177",
                    "value": 87
                },
                {
                    "name": "\u7f51\u7edc\u6e38\u620f",
                    "value": 84
                },
                {
                    "name": "\u7eba\u7ec7",
                    "value": 64
                },
                {
                    "name": "\u670d\u88c5",
                    "value": 64
                },
                {
                    "name": "\u76ae\u9769",
                    "value": 64
                },
                {
                    "name": "\u7269\u6d41",
                    "value": 61
                },
                {
                    "name": "\u4ea4\u901a",
                    "value": 61
                },
                {
                    "name": "\u8fd0\u8f93",
                    "value": 61
                },
                {
                    "name": "\u7267",
                    "value": 60
                },
                {
                    "name": "\u6e14",
                    "value": 60
                }
            ],
            "radius": [
                "10%",
                "40%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "margin": 8,
                "formatter": "{b}: {c}({d}%)"
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8ba1\u7b97\u673a\u8f6f\u4ef6",
                "\u7535\u5b50\u5546\u52a1",
                "\u4e92\u8054\u7f51",
                "\u7535\u5b50\u6280\u672f",
                "\u96c6\u6210\u7535\u8def",
                "\u534a\u5bfc\u4f53",
                "\u901a\u4fe1",
                "\u8ba1\u7b97\u673a\u670d\u52a1(\u7cfb\u7edf\u3001\u6570\u636e\u670d\u52a1\u3001\u7ef4\u4fee)",
                "\u7535\u4fe1",
                "\u7f51\u7edc\u8bbe\u5907",
                "\u4eea\u5668\u4eea\u8868",
                "\u5de5\u4e1a\u81ea\u52a8\u5316",
                "\u8bbe\u5907",
                "\u91cd\u5de5",
                "\u673a\u68b0",
                "\u4e13\u4e1a\u670d\u52a1(\u54a8\u8be2\u3001\u4eba\u529b\u8d44\u6e90\u3001\u8d22\u4f1a)",
                "\u5efa\u7b51",
                "\u5efa\u6750",
                "\u5de5\u7a0b",
                "\u5236\u836f",
                "\u751f\u7269\u5de5\u7a0b",
                "\u65b0\u80fd\u6e90",
                "\u91d1\u878d",
                "\u6295\u8d44",
                "\u8bc1\u5238",
                "\u5668\u68b0",
                "\u533b\u7597\u8bbe\u5907",
                "\u79d1\u7814",
                "\u5b66\u672f",
                "\u8fdb\u51fa\u53e3",
                "\u8d38\u6613",
                "\u7535\u4fe1\u8fd0\u8425\u3001\u589e\u503c\u670d\u52a1",
                "\u6c7d\u8f66",
                "\u7535\u6c14",
                "\u6c34\u5229",
                "\u7535\u529b",
                "\u591a\u5143\u5316\u4e1a\u52a1\u96c6\u56e2\u516c\u53f8",
                "\u793c\u54c1",
                "\u73a9\u5177",
                "\u5bb6\u7535",
                "\u5bb6\u5177",
                "\u7f51\u7edc\u6e38\u620f",
                "\u7eba\u7ec7",
                "\u670d\u88c5",
                "\u76ae\u9769",
                "\u7269\u6d41",
                "\u4ea4\u901a",
                "\u8fd0\u8f93",
                "\u7267",
                "\u6e14"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "5%",
            "bottom": "5%",
            "orient": "horizontal",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u516c\u53f8\u884c\u4e1a\u5206\u5e03\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_91f06abe0ff941af97eb30631b728e85.setOption(option_91f06abe0ff941af97eb30631b728e85);
    </script>
</body>
</html>
