<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="9f0e3801f5874207bf29c0523ac0a37f" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_9f0e3801f5874207bf29c0523ac0a37f = echarts.init(
            document.getElementById('9f0e3801f5874207bf29c0523ac0a37f'), 'white', {renderer: 'canvas'});
        var option_9f0e3801f5874207bf29c0523ac0a37f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": 292,
                    "textStyle": {
                        "color": "rgb(148,133,98)"
                    }
                },
                {
                    "name": "\u6df1\u5733",
                    "value": 285,
                    "textStyle": {
                        "color": "rgb(99,147,5)"
                    }
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 280,
                    "textStyle": {
                        "color": "rgb(112,118,146)"
                    }
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 269,
                    "textStyle": {
                        "color": "rgb(140,87,34)"
                    }
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": 267,
                    "textStyle": {
                        "color": "rgb(27,128,90)"
                    }
                },
                {
                    "name": "\u5357\u4eac",
                    "value": 188,
                    "textStyle": {
                        "color": "rgb(15,50,45)"
                    }
                },
                {
                    "name": "\u6210\u90fd",
                    "value": 185,
                    "textStyle": {
                        "color": "rgb(70,34,125)"
                    }
                },
                {
                    "name": "\u676d\u5dde",
                    "value": 184,
                    "textStyle": {
                        "color": "rgb(116,60,116)"
                    }
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": 173,
                    "textStyle": {
                        "color": "rgb(37,89,50)"
                    }
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 166,
                    "textStyle": {
                        "color": "rgb(127,117,55)"
                    }
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": 98,
                    "textStyle": {
                        "color": "rgb(146,58,94)"
                    }
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": 90,
                    "textStyle": {
                        "color": "rgb(15,18,96)"
                    }
                },
                {
                    "name": "\u957f\u6c99",
                    "value": 85,
                    "textStyle": {
                        "color": "rgb(86,89,93)"
                    }
                },
                {
                    "name": "\u5927\u8fde",
                    "value": 77,
                    "textStyle": {
                        "color": "rgb(63,147,35)"
                    }
                },
                {
                    "name": "\u897f\u5b89",
                    "value": 63,
                    "textStyle": {
                        "color": "rgb(79,16,24)"
                    }
                },
                {
                    "name": "\u5408\u80a5",
                    "value": 57,
                    "textStyle": {
                        "color": "rgb(76,126,43)"
                    }
                },
                {
                    "name": "\u6606\u660e",
                    "value": 41,
                    "textStyle": {
                        "color": "rgb(122,75,91)"
                    }
                },
                {
                    "value": 40,
                    "textStyle": {
                        "color": "rgb(151,126,34)"
                    }
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": 25,
                    "textStyle": {
                        "color": "rgb(71,106,10)"
                    }
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(127,144,92)"
                    }
                },
                {
                    "name": "\u6c88\u9633",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(130,59,27)"
                    }
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": 22,
                    "textStyle": {
                        "color": "rgb(96,124,158)"
                    }
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": 22,
                    "textStyle": {
                        "color": "rgb(48,16,146)"
                    }
                },
                {
                    "name": "\u798f\u5dde",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(52,72,41)"
                    }
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": 16,
                    "textStyle": {
                        "color": "rgb(11,140,150)"
                    }
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(52,124,100)"
                    }
                },
                {
                    "name": "\u6606\u5c71",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(76,59,73)"
                    }
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(35,99,119)"
                    }
                },
                {
                    "name": "\u957f\u6625",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(11,119,48)"
                    }
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(20,52,46)"
                    }
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(123,35,41)"
                    }
                },
                {
                    "name": "\u6c55\u5934",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(154,107,134)"
                    }
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(50,9,117)"
                    }
                },
                {
                    "name": "\u8944\u9633",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(58,136,40)"
                    }
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(67,13,98)"
                    }
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(133,114,25)"
                    }
                },
                {
                    "name": "\u5e38\u719f",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(127,18,61)"
                    }
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(156,150,61)"
                    }
                },
                {
                    "name": "\u5c71\u4e1c\u7701",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(145,152,149)"
                    }
                },
                {
                    "name": "\u6e05\u8fdc",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(47,137,89)"
                    }
                },
                {
                    "name": "\u9526\u5dde",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(20,138,38)"
                    }
                },
                {
                    "name": "\u5e7f\u5b89",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(11,94,160)"
                    }
                },
                {
                    "name": "\u91d1\u534e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(138,27,131)"
                    }
                },
                {
                    "name": "\u840d\u4e61",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(144,91,152)"
                    }
                },
                {
                    "name": "\u9ec4\u5188",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(86,151,87)"
                    }
                },
                {
                    "name": "\u62c9\u8428",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,52,70)"
                    }
                },
                {
                    "name": "\u9655\u897f\u7701",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(91,87,88)"
                    }
                },
                {
                    "name": "\u5b81\u5fb7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,108,81)"
                    }
                },
                {
                    "name": "\u5eca\u574a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(32,37,5)"
                    }
                },
                {
                    "name": "\u6d77\u5b81",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,45,142)"
                    }
                },
                {
                    "name": "\u65b0\u4e61",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(49,134,47)"
                    }
                },
                {
                    "name": "\u592a\u4ed3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,138,16)"
                    }
                },
                {
                    "name": "\u6d59\u6c5f\u7701",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(4,110,77)"
                    }
                },
                {
                    "name": "\u8fde\u4e91\u6e2f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(39,105,10)"
                    }
                },
                {
                    "name": "\u516d\u5b89",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(121,29,136)"
                    }
                },
                {
                    "name": "\u5f20\u5bb6\u6e2f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,46,51)"
                    }
                },
                {
                    "name": "\u4e49\u4e4c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,128,105)"
                    }
                },
                {
                    "name": "\u8862\u5dde",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(23,77,89)"
                    }
                },
                {
                    "name": "\u5609\u5cea\u5173",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(49,55,154)"
                    }
                },
                {
                    "name": "\u6d0b\u6d66\u7ecf\u6d4e\u5f00\u53d1\u533a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(139,96,145)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5404\u57ce\u5e02\u62db\u8058\u9700\u6c42\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_9f0e3801f5874207bf29c0523ac0a37f.setOption(option_9f0e3801f5874207bf29c0523ac0a37f);
    </script>
</body>
</html>
