<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/china.js"></script>

</head>
<body >
    <div id="a442c2a472a84c75988d39ca023378f1" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_a442c2a472a84c75988d39ca023378f1 = echarts.init(
            document.getElementById('a442c2a472a84c75988d39ca023378f1'), 'white', {renderer: 'canvas'});
        var option_a442c2a472a84c75988d39ca023378f1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "Geo",
            "coordinateSystem": "geo",
            "symbolSize": 12,
            "data": [
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        121.473701,
                        31.230416,
                        1008
                    ]
                },
                {
                    "name": "\u6df1\u5733",
                    "value": [
                        114.07,
                        22.62,
                        970
                    ]
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": [
                        113.23,
                        23.16,
                        942
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        116.407526,
                        39.90403,
                        938
                    ]
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": [
                        114.31,
                        30.52,
                        931
                    ]
                },
                {
                    "name": "\u676d\u5dde",
                    "value": [
                        120.19,
                        30.26,
                        891
                    ]
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": [
                        120.62,
                        31.32,
                        849
                    ]
                },
                {
                    "name": "\u5357\u4eac",
                    "value": [
                        118.78,
                        32.04,
                        209
                    ]
                },
                {
                    "name": "\u6210\u90fd",
                    "value": [
                        104.06,
                        30.67,
                        189
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        106.551556,
                        29.563009,
                        166
                    ]
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": [
                        113.75,
                        23.04,
                        130
                    ]
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": [
                        121.56,
                        29.86,
                        110
                    ]
                },
                {
                    "name": "\u5927\u8fde",
                    "value": [
                        121.62,
                        38.92,
                        100
                    ]
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": [
                        113.38,
                        22.52,
                        90
                    ]
                },
                {
                    "name": "\u957f\u6c99",
                    "value": [
                        113,
                        28.21,
                        85
                    ]
                },
                {
                    "name": "\u897f\u5b89",
                    "value": [
                        108.95,
                        34.27,
                        71
                    ]
                },
                {
                    "name": "\u6606\u5c71",
                    "value": [
                        120.95,
                        31.39,
                        65
                    ]
                },
                {
                    "name": "\u5408\u80a5",
                    "value": [
                        117.27,
                        31.86,
                        65
                    ]
                },
                {
                    "name": "\u6606\u660e",
                    "value": [
                        102.73,
                        25.04,
                        41
                    ]
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": [
                        113.52,
                        22.3,
                        39
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        117.200983,
                        39.084158,
                        28
                    ]
                },
                {
                    "name": "\u6c88\u9633",
                    "value": [
                        123.38,
                        41.8,
                        24
                    ]
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": [
                        113.65,
                        34.76,
                        22
                    ]
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": [
                        120.33,
                        36.07,
                        22
                    ]
                },
                {
                    "name": "\u798f\u5dde",
                    "value": [
                        119.3,
                        26.08,
                        17
                    ]
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": [
                        117,
                        36.65,
                        16
                    ]
                },
                {
                    "name": "\u8944\u9633",
                    "value": [
                        112.2,
                        32.08,
                        16
                    ]
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": [
                        113.11,
                        23.05,
                        15
                    ]
                },
                {
                    "name": "\u6c55\u5934",
                    "value": [
                        116.69,
                        23.39,
                        15
                    ]
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": [
                        113.06,
                        22.61,
                        15
                    ]
                },
                {
                    "name": "\u5e38\u719f",
                    "value": [
                        120.74,
                        31.64,
                        15
                    ]
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": [
                        126.63,
                        45.75,
                        13
                    ]
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": [
                        114.4,
                        23.09,
                        12
                    ]
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": [
                        110.359377,
                        21.270708,
                        9
                    ]
                },
                {
                    "name": "\u957f\u6625",
                    "value": [
                        125.35,
                        43.88,
                        9
                    ]
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": [
                        118.1,
                        24.46,
                        7
                    ]
                },
                {
                    "name": "\u6e05\u8fdc",
                    "value": [
                        113.01,
                        23.7,
                        6
                    ]
                },
                {
                    "name": "\u9526\u5dde",
                    "value": [
                        121.15,
                        41.13,
                        6
                    ]
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": [
                        121.420757,
                        28.656386,
                        6
                    ]
                },
                {
                    "name": "\u8862\u5dde",
                    "value": [
                        118.88,
                        28.97,
                        5
                    ]
                },
                {
                    "name": "\u6d77\u5b81",
                    "value": [
                        120.42,
                        30.32,
                        5
                    ]
                },
                {
                    "name": "\u4e49\u4e4c",
                    "value": [
                        120.06,
                        29.32,
                        5
                    ]
                },
                {
                    "name": "\u9ec4\u5188",
                    "value": [
                        114.87,
                        30.45,
                        5
                    ]
                },
                {
                    "name": "\u5f20\u5bb6\u6e2f",
                    "value": [
                        120.555821,
                        31.875428,
                        5
                    ]
                },
                {
                    "name": "\u5609\u5cea\u5173",
                    "value": [
                        98.289152,
                        39.77313,
                        5
                    ]
                },
                {
                    "name": "\u62c9\u8428",
                    "value": [
                        91.11,
                        29.97,
                        5
                    ]
                },
                {
                    "name": "\u592a\u4ed3",
                    "value": [
                        121.1,
                        31.45,
                        5
                    ]
                },
                {
                    "name": "\u5b81\u5fb7",
                    "value": [
                        119.31,
                        26.39,
                        3
                    ]
                },
                {
                    "name": "\u5c71\u4e1c\u7701",
                    "value": [
                        117.020359,
                        36.66853,
                        2
                    ]
                },
                {
                    "name": "\u5e7f\u5b89",
                    "value": [
                        106.63,
                        30.47,
                        2
                    ]
                },
                {
                    "name": "\u6d59\u6c5f\u7701",
                    "value": [
                        120.152791,
                        30.267446,
                        1
                    ]
                },
                {
                    "name": "\u5eca\u574a",
                    "value": [
                        116.7,
                        39.53,
                        1
                    ]
                },
                {
                    "name": "\u516d\u5b89",
                    "value": [
                        116.28,
                        31.44,
                        1
                    ]
                },
                {
                    "name": "\u8fde\u4e91\u6e2f",
                    "value": [
                        119.16,
                        34.59,
                        1
                    ]
                },
                {
                    "name": "\u9655\u897f\u7701",
                    "value": [
                        108.954239,
                        34.265472,
                        1
                    ]
                },
                {
                    "name": "\u65b0\u4e61",
                    "value": [
                        113.52,
                        35.18,
                        1
                    ]
                },
                {
                    "name": "\u840d\u4e61",
                    "value": [
                        113.5,
                        27.37,
                        1
                    ]
                }
            ],
            "label": {
                "show": false,
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Geo"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "formatter": function (params) {        return params.name + ' : ' + params.value[2];    },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5404\u5730\u533a\u62db\u8058\u9700\u6c42\u5206\u5e03",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "geo": {
        "map": "china",
        "roam": true,
        "aspectScale": 0.75,
        "nameProperty": "name",
        "selectedMode": false,
        "emphasis": {}
    }
};
        chart_a442c2a472a84c75988d39ca023378f1.setOption(option_a442c2a472a84c75988d39ca023378f1);
    </script>
</body>
</html>
