<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="6819e308afa645a8962548ba31ae5a5e" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_6819e308afa645a8962548ba31ae5a5e = echarts.init(
            document.getElementById('6819e308afa645a8962548ba31ae5a5e'), 'white', {renderer: 'canvas'});
        var option_6819e308afa645a8962548ba31ae5a5e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "funnel",
            "data": [
                {
                    "name": "3\u5e74",
                    "value": 3310
                },
                {
                    "name": "5\u5e74",
                    "value": 2191
                },
                {
                    "name": "2\u5e74",
                    "value": 1231
                },
                {
                    "name": "1\u5e74",
                    "value": 974
                },
                {
                    "name": "\u65e0\u9700\u7ecf\u9a8c",
                    "value": 382
                },
                {
                    "name": "8\u5e74",
                    "value": 221
                },
                {
                    "name": "\u5728\u6821\u751f/\u5e94\u5c4a\u751f",
                    "value": 136
                },
                {
                    "name": "6\u5e74",
                    "value": 124
                },
                {
                    "name": "4\u5e74",
                    "value": 110
                },
                {
                    "name": "10\u5e74",
                    "value": 100
                },
                {
                    "name": "7\u5e74",
                    "value": 60
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u65e0\u9700\u7ecf\u9a8c",
                "4\u5e74",
                "5\u5e74",
                "6\u5e74",
                "3\u5e74",
                "\u5728\u6821\u751f/\u5e94\u5c4a\u751f",
                "7\u5e74",
                "10\u5e74",
                "2\u5e74",
                "1\u5e74",
                "8\u5e74"
            ],
            "selected": {},
            "show": true,
            "left": "2%",
            "top": "15%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5de5\u4f5c\u7ecf\u9a8c\u8981\u6c42\u5206\u6790",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_6819e308afa645a8962548ba31ae5a5e.setOption(option_6819e308afa645a8962548ba31ae5a5e);
    </script>
</body>
</html>
