<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="c650e0e8495d45a9b8f684cdfbdd019f" class="chart-container" style="width:1400px; height:500px; "></div>
    <script>
        var chart_c650e0e8495d45a9b8f684cdfbdd019f = echarts.init(
            document.getElementById('c650e0e8495d45a9b8f684cdfbdd019f'), 'white', {renderer: 'canvas'});
        var option_c650e0e8495d45a9b8f684cdfbdd019f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u85aa\u8d44\u4e0e\u5de5\u4f5c\u7ecf\u9a8c\u5173\u7cfb",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5728\u6821\u751f/\u5e94\u5c4a\u751f",
                    0.96
                ],
                [
                    "1\u5e74",
                    1.16
                ],
                [
                    "\u65e0\u9700\u7ecf\u9a8c",
                    1.34
                ],
                [
                    "2\u5e74",
                    1.42
                ],
                [
                    "3\u5e74",
                    1.74
                ],
                [
                    "4\u5e74",
                    1.77
                ],
                [
                    "5\u5e74",
                    2.19
                ],
                [
                    "6\u5e74",
                    2.27
                ],
                [
                    "7\u5e74",
                    2.44
                ],
                [
                    "8\u5e74",
                    2.78
                ],
                [
                    "10\u5e74",
                    2.92
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u85aa\u8d44\u4e0e\u5de5\u4f5c\u7ecf\u9a8c\u5173\u7cfb"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5728\u6821\u751f/\u5e94\u5c4a\u751f",
                "1\u5e74",
                "\u65e0\u9700\u7ecf\u9a8c",
                "2\u5e74",
                "3\u5e74",
                "4\u5e74",
                "5\u5e74",
                "6\u5e74",
                "7\u5e74",
                "8\u5e74",
                "10\u5e74"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u85aa\u8d44\uff1a\u4e07\u5143/\u6708",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u85aa\u8d44\u4e0e\u5de5\u4f5c\u7ecf\u9a8c\u5173\u7cfb",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_c650e0e8495d45a9b8f684cdfbdd019f.setOption(option_c650e0e8495d45a9b8f684cdfbdd019f);
    </script>
</body>
</html>
